#calcThumb {
    position:absolute;
    top:10%;
    left:10%;
    text-align:center;
    cursor:pointer;
  }

  #calculator {
    height:600px;
    width:330px;
    border:3px outset #777;
    border-radius:3px;
    padding:10px 8px 8px 10px;
    background:#000;
  }
  #calculator .btn {
    width:22.8%;
    height: 12%;
    margin-bottom:3px;
    padding:4px 0 4px 0;
    font-weight:bold;
    outline:0 none;
  }
  #calculator .disabled {
    background:#444;
    border:none;
  }
  #calculator .number {
    background:#cde;
    border-color:#def;
    border-style:outset;
  }
  #calculator .number:hover {
    background:#abc;
  }
  #calculator .form-control {
    width:95%;
    margin-bottom:-10px;
    cursor:default;
    resize:none;
    background:#cde;
    border:1px outset #888;
    font-family:'lucida console',monospace;
    color:#000;
    font-weight:bold;
    text-align:right;
    overflow:hidden;
    box-shadow: none;
  }
  #calculator .form-control::-webkit-input-placeholder { color:#000; }
  #calculator .form-control::-moz-placeholder { color:#000; }
  #calculator .form-control:-ms-input-placeholder { color:#000; }
  #calculator .form-controlinput:-moz-placeholder { color:#000; }

  .modal {
    overflow:hidden;
    outline:0 none;
    top:0%;
    left:100%;
  }
  .modal-body {
    padding:15px;
  }
  .modal-dialog {
    width:380px;
    height: 130px;
  }
  .modal.fade {
    left: 583px;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
         -o-transition: opacity 0.3s linear, top 0.3s ease-out;
            transition: opacity 0.3s linear, top 0.3s ease-out;
  }
  .modal-header {
    height: 50px;
    background-color:#707070;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    padding:6px;
    font-size: 33px;
    font-weight:bold;
    color:white;
    text-align:center;
  }

  .spacer {
    font-size:6px;
  }
  #history.form-control {
    padding:0;
    width:180px;
  }
  .list-group-item {
    padding:2px 4px 2px 4px;
  }
  .btn-hist {
    width:1800px;
  }
  .dropdown-menu {
    width:180px;
  }
  .sup {
    font-size:75%;
    top:20%;
  }
  @media(min-width:500px){
  #calcModal{

    top:10%;
    left:4%;
  }
}

@media(min-width:500px){
  #calcThumb {
    top:5%;
    left:40%;
  }
}
@media(min-width:765px){
  #calcModal {
    top:10%;
      }
}

@media(min-width:765px){
  #calcThumb {
    top:5%;
    left:48%;
  }
}
